django
djangorestframework
djangorestframework-simplejwt
mongoengine
pymongo
google-genai
stripe
reportlab
python-pptx
cloudinary
django-cors-headers
python-dotenv
dnspython
gunicorn
Pillow
requests
whitenoise
PyJWT
